---
title: Home
call_to_action: Contact
background_image_path:
large_header: false
bookit: true
testimonials:
  - message: What I like about Denison Enterprises is that everyone takes ownership... That’s how a great company should operate.
    image: "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/049/0d8/246eba9.jpg"
    name: Christopher Celeste ’87
  - message: I believe this is the beginning of greater student input to what we want our campus to be.
    image: "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/000/246/0b7/09ab38a.jpg"
    name: Omar Vargas '16
  - message: I love that this collaboration is creating momentum for other positive changes around campus.
    image: "https://d3c4grnenccqt6.cloudfront.net/sites/default/files/styles/large/public/contacts/jenna-mcdevitt_0.jpg"
    name: Jenna McDevitt
---

<div class="editable">
  <p>Denison Enterprises, founded in 2014, is an experimental business learning opportunity serving as a think-tank, consultation group, and small business incubator.</p>

  <p>We were inspired to create Denison Enterprises because we saw business needs on campus that were not completely met, ultimately driving students off-campus to meet those needs. Denison Enterprises seeks to bring self-sustaining student run business ventures to campus that provide experimental business learning opportunities to undergraduates.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
